* {
    margin: 0;
    padding: 0;
}

/* creando el Layout y cambiando tipo de letra */

body {
    font-family: "Raleway", sans-serif;
    display: grid;
    grid-template-areas: 
        "nav"
        "header"
        "main"
        "section"
        "footer"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.3fr 11fr 1fr 1fr;
    height: 100vh;
}

/* css del nav */

nav {
    grid-area: nav;
    background-color: blue;
    display: flex;
    justify-content: space-between;
}

.empresa {
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: #FFF;
}

.empresa i {
    margin-right: 15px;
}

.menu {
    display: flex;
    align-items: center;
    padding-right: 15px;
    font-size: 1.5rem ;
    color: #FFF;
}

.menu-links {
    display: none;
}

/* css del header */

header {
    grid-area: header;
    background-color: silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header select {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

/* css del main */

main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    padding-top: 35px;
    row-gap: 45px;
}

.card {
    display: flex;
    flex-direction: column;   
    align-items: center;
    width: 90%;
    height: 90%;
    border: 1px solid grey;
    padding-bottom: 20px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card p {
    padding: 15px 0;
}

.card a {
    padding: 10px 15px;
    border: 1px solid blue;
    border-radius: 5px;
    text-decoration: none;
    color: #FFF;
    background-color: blue;
}

/* css del section */

section {
    grid-area: section;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 10px;
}

section a {
    text-decoration: none;
    color: blue;
    padding: 10px 15px;
    border: 1px solid grey;
    
}

/* css del footer */

footer {
    grid-area: footer;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

footer p, .icons {
    color: white;
}

.icons {
    font-size: 1.3rem;
}

/* adaptando la pagina a tablets (576px) */

@media (width >= 576px) {
    body {
        grid-template-areas: 
            "nav nav"
            "header main"
            "header section"
            "footer footer"
        ;
        grid-template-columns: 1fr 10fr;
        grid-template-rows: 0.5fr 6fr 0.6fr 0.5fr;
    }

    /* modificando CSS del menu */

    .menu i {
        display: none;
    }

    .menu-links {
        display: flex;
        padding: 0 10px;
    }

    .menu-links li {
        list-style-type: none;
        padding: 0 20px;
        display: flex;
    }

    .menu-links a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
    }

    /* modificando css del header */

    header {
        padding-top: 15px;
        justify-content: start;
    }

    header select {
        width: 100px;
        margin: 20px 40px;
    }

    /* modificando css del main */

    main {
        column-gap: 20px;
        padding-top: 20px;
    }

    .card {
        width: 45%;
        height: 92%;
    }

    /* modificando css del section */

    section {
        padding-bottom: 20px;
    }

}


